
<form #form="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
          <label for="inputName">Nombre</label>
          <input [(ngModel)]="employee.name" name="name" type="text" class="form-control text-uppercase" id="inputName" placeholder="Nombre Completo" required>
      </div>
      <div class="form-group col-md-6">
          <label for="inputRFC">RFC</label>
          <input [(ngModel)]="employee.rfc" name="rfc" type="text" class="form-control text-uppercase" id="inputRFC" placeholder="..." maxlength="18" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
          <label for="inputCURP">CURP</label>
          <input [(ngModel)]="employee.curp" name="curp" type="text" class="form-control text-uppercase" id="inputCURP" placeholder="..." maxlength="18" required>
      </div>
      <div class="form-group col-md-6">
          <label for="inputNSS">NSS</label>
          <input [(ngModel)]="employee.nss" name="nss" type="text" class="form-control" id="inputNSS" placeholder="..." maxlength="13" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputBirthdate">Fecha de Nacimiento</label>
        <input [(ngModel)]="employee.birthDate" name="birthDate" type="text" class="form-control" id="inputBirthdate" placeholder="..." required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputRole">Puesto</label>
        <input [(ngModel)]="employee.role" name="role" type="text" class="form-control text-uppercase" id="inputRole" placeholder="..." required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputSalary">Salario</label>
        <input [(ngModel)]="employee.salary" name="salary" type="text" class="form-control" id="inputSalary" placeholder="$ Mensual, Semanal, etc..." required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPhone">Télefono</label>
        <input [(ngModel)]="employee.phone" name="phone" type="text" class="form-control" id="inputPhone" placeholder="Télefono / Móvil" maxlength="10" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail">Correo Electronico</label>
        <input [(ngModel)]="employee.email" name="email" type="email" class="form-control text-lowercase" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Dirección</label>
      <input [(ngModel)]="employee.address.street" name="street" type="text" class="form-control text-uppercase" id="inputAddress" placeholder="1234 Main St" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Ciudad ó Municipio</label>
        <input [(ngModel)]="employee.address.city" name="city" type="text" class="form-control text-uppercase" id="inputCity" placeholder="..." required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Estado</label>
        <select [(ngModel)]="employee.address.state" name="state" id="inputState" class="form-control text-uppercase" required>
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Código Postal</label>
        <input [(ngModel)]="employee.address.zip" name="zip" type="number" class="form-control" id="inputZip" placeholder="00000" required>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <!-- Botton to Cancel -->
    <button (click)="clrModel()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <!-- Botton to Register -->
    <button [disabled]="!form.form.valid" (click)="newEmployee()" type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
  </div>