<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <!-- Title -->
    <div class="sidebar-header">
      <h3>Bootstrap Sidebar</h3>
      <strong>BS</strong>
    </div>

    <!-- -->
    <ul class="list-unstyled components">
        <li class="active">
          <a href="#"><i class="fas fa-home"></i>Home</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-briefcase"></i>About</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-copy"></i>Pages</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-image"></i>Portfolio</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-question"></i>FAQ</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-paper-plane"></i>Contact</a>
        </li>
    </ul>

  </nav>
</div>