<!-- Main div Container -->
<br>
<div class="container-fluid mt-5 shadow-lg p-3 mb-5 bg-white rounded">
  <!-- Header Container -->
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10"><h1 class="display-4">Análisis</h1></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-7"><app-line-chart></app-line-chart></div>
    <div class="col-5"><app-bar-chart></app-bar-chart></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6"><app-polar-area-chart></app-polar-area-chart></div>
    <div class="col-6"><app-radar-chart></app-radar-chart></div>
  </div>
</div>