<form #Form="ngForm" class="text-center">
  <div class="form-group">
    <input [(ngModel)]="user.username" name="username" type="UserName" id="inputUserName" class="form-control text-center" placeholder="Usuario" required autofocus>
  </div>
  <div class="form-group">
    <input [(ngModel)]="user.password" name="password" type="password" id="inputPassword" class="form-control text-center" placeholder="Contraseña" required>
  </div>
  <div class="form-group">
      <label for="inputRole">Permisos</label>
      <select [(ngModel)]="user.role" name="role" id="inputRole" class="form-control" required>
        <option>ADMIN</option>
        <option>MECANICO</option>
        <option>CAJA</option>
      </select>
    </div>
</form>
<div class="modal-footer">
  <!-- Botton to Cancel -->
  <button (click)="initializer()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
  <!-- Botton to Register -->
  <button *ngIf="status" [disabled]="!Form.form.valid" (click)="post()" type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
  <!-- Botton to Edite -->
  <button *ngIf="!status" [disabled]="!Form.form.valid" (click)="put()" type="button" class="btn btn-primary" data-dismiss="modal">Actualizar</button>
</div>