<!-- Main div Container -->
<div class="container-fluid mt-3 shadow-lg p-3 mb-5 bg-white rounded">
    <!-- Header Container -->
    <div class="row">
        <div class="col-2">
            <!-- Botton to register Service -->
            <button (click)="setStatus(true)" class="btn btn-primary" data-toggle="modal" data-target="#modal"><i class="fas fa-plus"></i></button>
        </div>
        <div class="col-4"><h3>Servicios Pendientes</h3></div>
        <div class="col-6"></div>
    </div>
    <hr>
    <div class="row">
        <div class="card-columns">
            <div *ngFor="let serv of getList(); let i = index;" class="card text-center bg-light">
                <div class="card-body">
                    <h5 class="card-title">{{ serv.auto }}</h5>
                    <p class="card-text">Cliente: {{ serv.client }}</p>
                    <p class="card-text">Fecha de Ingreso: {{ serv.entreDate | date}}</p>
                    <p class="card-text">Descripción: {{ serv.description }}</p>
                    <!-- Button for Delete Service -->
                    <button (click)="delService(serv.id, i)" type="button" class="mr-3 btn btn-danger">Cancelar</button>
                    <!-- Button for Finish Service -->
                    <button type="button" class="ml-3 btn btn-success">Finalizar</button>
                </div>
            </div>
        </div>
        <div *ngIf="!isEmpty()" class="alert alert-info text-center btn-block" role="alert">
            ¡No hay información en la Aplicación!
        </div>
    </div>
</div>

<!-- Modal From Service -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="modalTitle">Formulario</h5>
          <button (click)="clrModel()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Form to Register -->
          <app-service-form></app-service-form>
        </div>
      </div>
    </div>
  </div>