<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Image and text -->
  <a class="navbar-brand" [routerLink]="['home']">
    <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Mechanicus
  </a>
  <!-- Botton in Mobile size -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- List of Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Routers Links Actived -->
      <li *ngIf="getAuth().isAuthenticated()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li *ngIf="getAuth().isAuthenticated()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['service-view']">Servicios</a>
      </li>
      <li *ngIf="getAuth().isAuthenticated()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['client-view']">Clientes</a>
      </li>
      <li *ngIf="getAuth().isAuthenticated()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['employee-view']">Empleados</a>
      </li>
      <li *ngIf="getAuth().isAuthenticated()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Ajustes</a>
      </li>
      <li *ngIf="getAuth().isAuthenticated()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Análisis</a>
      </li>
    </ul>
    <!-- Login -->
    <form class="form-inline my-2 my-lg-0 text-white">
      <!-- Sign out -->
      <div *ngIf="getAuth().isAuthenticated()">
        <img src="../../../assets/img/user.png" width="30" height="30" class="d-inline-block align-top rounded-circle img-thumbnail img-fluid" alt="">
        username
        <button (click)="signOut()" type="button" class="btn btn-danger btn-sm">sign-out <i class="fas fa-sign-out-alt"></i></button>
      </div>
      <!-- Sign int -->
      <div *ngIf="!getAuth().isAuthenticated()">
        <button (click)="signIn()" type="button" class="btn btn-secondary btn-sm">Sign in <i class="fas fa-sign-in-alt"></i></button>
      </div>
    </form>
  </div>
</nav>