<!-- Main div Container -->
<br>
<div class="container-fluid mt-5 shadow-lg p-3 mb-5 bg-white rounded op-4">
    <!-- Header Container -->
    <div class="row">
        <div class="col-2">
            <!-- Botton to register new Service -->
            <button (click)="initializer(); setStatus(1)" class="btn btn-lg btn-primary" data-toggle="modal"
                data-target="#modal"><i class="fas fa-plus"></i></button>
        </div>
        <div class="col-4"></div>
        <div class="col-2"></div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1 class="styles-test text-center">Pendientes</h1>
            <hr>
            <ng-template [ngIf]="!isEmptyListPending()" [ngIfElse]="exception">
                <ul class="list-unstyled">
                    <li *ngFor="let item of getListPending(); let i = index;" class="media mb-5">
                        <div class="row mr-3">
                            <div class="col">
                                <!-- Button for Delete Service -->
                                <div class="btn-group-vertical">
                                    <button (click)="finish(item.id, i)" type="button"
                                        class="btn btn-block btn-success"><i class="fas fa-check"></i></button>
                                    <button (click)="delete(item.id, i)" type="button"
                                        class="btn btn-block btn-danger"><i class="fas fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="media-body text-left text-uppercase">
                            <h5 class="mt-0 mb-1"><i class="fas fa-car"></i> {{ getAuto(item.auto) }}</h5>
                            <p class="card-text"><i class="fas fa-user-tie"></i> Cliente: {{ getClient(item.client) }}
                            </p>
                            <p class="card-text "><i class="far fa-calendar-alt"></i> Fecha: {{ item.entreDate | date }}
                            </p>
                            <p class="card-text"><i class="fas fa-user"></i> Empleado: {{ item.employee }}</p>
                            <i class="fas fa-align-justify"></i> {{ item.description }}
                        </div>
                    </li>
                </ul>
            </ng-template>
            <ng-template #exception>
                <div class="alert alert-info text-center btn-block" role="alert">
                    No hay Servicios Pendientes
                </div>
            </ng-template>
        </div>

        <div class="col-sm-6">
            <h1 class="styles-test text-center">Terminados</h1>
            <hr>
            <ng-template [ngIf]="!isEmptyListFinished()" [ngIfElse]="exception">
                <ul class="list-unstyled">
                    <li *ngFor="let item of getListFinished(); let i = index;" class="media mb-5">
                        <div class="row mr-3">
                            <div class="col">
                                <!-- Button for Delete Service -->
                                <div class="btn-group-vertical">
                                    <button (click)="deliver(item.id, i)" type="button"
                                        class="btn btn-block btn-success"><i class="fas fa-check"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="media-body text-left text-uppercase">
                            <h5 class="mt-0 mb-1"><i class="fas fa-car"></i> {{ getAuto(item.auto) }}</h5>
                            <p class="card-text"><i class="fas fa-user-tie"></i> Cliente: {{ getClient(item.client) }}
                            </p>
                            <p class="card-text "><i class="far fa-calendar-alt"></i> Fecha: {{ item.entreDate | date }}</p>
                            <p class="card-text"><i class="fas fa-user"></i> Empleado: {{ item.employee }}</p>
                            <i class="fas fa-align-justify"></i> {{ item.description }}
                        </div>
                    </li>
                </ul>
            </ng-template>
            <ng-template #exception>
                <div class="alert alert-info text-center btn-block" role="alert">
                    No hay Servicios Terminados
                </div>
            </ng-template>
        </div>
    </div>
</div>

<!-- Modal From Service -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="modalTitle">Formulario</h5>
                <button (click)="initializer()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form to Register -->
                <app-service-form [servic]="getModel()" [status]="getStatus()"></app-service-form>
            </div>
        </div>
    </div>
</div>