<!-- Main div Container -->
<div class="container mt-3 shadow-lg p-3 mb-5 bg-white rounded">
  <!-- Header Container -->
  <div class="row">
    <div class="col-2">
      <!-- Botton to register new Client -->
      <button class="btn btn-primary" data-toggle="modal" data-target="#InsertModal"><i class="fas fa-plus"></i></button>
    </div>
    <div class="col-4"><h3>Clientes</h3></div>
    <div class="col-6">
        <input class="shadow-sm p-3 mb-5 bg-white rounded form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
    </div>
  </div>
  <!-- Table of Clients -->
  <div class="table-responsive">
    <table class="table table-hover table-striped table-borderless table-sm">
      <thead class="thead-dark text-center">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">RFC</th>
          <th scope="col">Télefono</th>
          <th scope="col">Correo</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <!-- List of Clients -->
        <tr *ngFor="let client of getList(); let i = index;">
          <td>{{ client.name }}</td>
          <td class="text-center">{{ client.rfc }}</td>
          <td class="text-center">{{ client.phone }}</td>
          <td class="text-center">{{ client.email }}</td>
          <td class="d-flex justify-content-center">
            <!-- Botton to edite a Client -->
            <button (click)="getClient(client.id)" class="mr-1 btn-sm btn btn-warning" data-toggle="modal" data-target="#InsertModal"><i class="fas fa-edit"></i></button>
            <!-- Botton to delete a Client -->
            <button (click)="delClient(client.id, i)" class="ml-1 btn-sm btn btn-danger"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!isEmpty()" class="alert alert-info text-center btn-block" role="alert">
    ¡No hay información en la Aplicación!
  </div>
</div>

<!-- Modal to register new Client -->
<div class="modal fade" id="InsertModal" tabindex="-1" role="dialog" aria-labelledby="InsertModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <!-- form -->
    <app-client-form></app-client-form>
  </div>
</div>