<!-- Main div Container -->
<br>
<div class="container mt-5 shadow-lg p-3 mb-5 bg-white rounded">
  <!-- Header Container -->
  <div class="row">
    <div class="col-2">
      <!-- Botton to register new Client -->
      <button (click)="clrModel(); setStatus(1)" class="btn btn-primary" data-toggle="modal" data-target="#modal"><i class="fas fa-plus"></i></button>
    </div>
    <div class="col-4"><h3>Clientes</h3></div>
    <div class="col-6">
        <input class="shadow-sm p-3 mb-5 bg-white rounded form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
    </div>
  </div>
  <!-- Table of Clients table-wrapper-scroll-y-->
  <div class="table-responsive table-borderless ">
    <table class="table table-hover table-striped table-sm">
      <thead class="thead-dark text-center">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">RFC</th>
          <th scope="col">Télefono</th>
          <th scope="col">Correo</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <!-- List of Clients -->
        <tr *ngFor="let client of getList(); let i = index;">
          <td (click)="getClient(client.id); setStatus(0)" class="text-uppercase" data-toggle="modal" data-target="#modal">{{ client.name }}</td>
          <td (click)="getClient(client.id); setStatus(0)" class="text-center text-uppercase" data-toggle="modal" data-target="#modal">{{ client.rfc }}</td>
          <td (click)="getClient(client.id); setStatus(0)" class="text-center" data-toggle="modal" data-target="#modal">{{ client.phone }}</td>
          <td (click)="getClient(client.id); setStatus(0)" class="text-center text-lowercase" data-toggle="modal" data-target="#modal">{{ client.email }}</td>
          <td class="d-flex justify-content-center">
            <!-- Botton to view a Client's Cars -->
            <button (click)="getAuto(client.id)" class="mr-1 btn-sm btn btn-primary" data-toggle="modal" data-target="#FormAutoView"><i class="fas fa-car"></i></button>
            <!-- Botton to edite a Client -->
            <button (click)="getClient(client.id); setStatus(-1)" class="mr-1 ml-1 btn-sm btn btn-warning" data-toggle="modal" data-target="#modal"><i class="fas fa-edit"></i></button>
            <!-- Botton to delete a Client -->
            <button (click)="delClient(client.id, i)" class="ml-1 btn-sm btn btn-danger"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="isEmpty()" class="alert alert-info text-center btn-block" role="alert">
    ¡No hay información en la Aplicación!
  </div>
</div>

<!-- Modal From Client -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-center" id="InsertModalTitle">Formulario</h5>
            <button (click)="clrModel()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      <div class="modal-body">
        <!-- Form -->
        <app-client-form [status]="getStatus()" [client]="getModel()"></app-client-form>
      </div>
    </div>
  </div>
</div>
