<!-- Main div Container -->
<br>
<div class="container mt-5 shadow-lg p-3 mb-5 bg-white rounded op-4">
  <!-- Header Container -->
  <div class="row">
    <div class="col-2">
      <!-- Botton to register new Employee -->
      <button (click)="initializer(); setStatus(1)" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#modal"><i
          class="fas fa-plus"></i></button>
    </div>
    <div class="col-10">
      <h1 class="display-4">Empleados</h1>
    </div>
  </div>
  <ng-template [ngIf]="!isEmpty()" [ngIfElse]="exception">
    <!-- Table of Employees -->
    <table datatable [dtOptions]="dtOptions"
      class="table table-hover table-striped table-borderless table-sm">
      <thead class="thead-dark text-center">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">RFC</th>
          <th scope="col">NSS</th>
          <th scope="col">Télefono</th>
          <th scope="col">Correo</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <!-- List of Employees -->
        <tr *ngFor="let employee of getList(); let i = index;">
          <td (click)="getOne(employee.id); setStatus(0)" class="text-uppercase" data-toggle="modal"
            data-target="#modal">{{ employee.name }}</td>
          <td (click)="getOne(employee.id); setStatus(0)" class="text-center text-uppercase" data-toggle="modal"
            data-target="#modal">{{ employee.rfc }}</td>
          <td (click)="getOne(employee.id); setStatus(0)" class="text-center text-uppercase" data-toggle="modal"
            data-target="#modal">{{ employee.nss }}</td>
          <td (click)="getOne(employee.id); setStatus(0)" class="text-center text-uppercase" data-toggle="modal"
            data-target="#modal">{{ employee.phone }}</td>
          <td (click)="getOne(employee.id); setStatus(0)" class="text-center text-lowercase" data-toggle="modal"
            data-target="#modal">{{ employee.email }}</td>
          <td class="d-flex justify-content-center">
            <!-- Botton to edite a Employee -->
            <button (click)="getOne(employee.id); setStatus(-1)" class="mr-1 btn-sm btn btn-warning"
              data-toggle="modal" data-target="#modal"><i class="fas fa-edit"></i></button>
            <!-- Botton to delete a Employee -->
            <button (click)="delete(employee.id, i)" class="ml-1 btn-sm btn btn-danger"><i
                class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  <ng-template #exception>
    <div class="alert alert-info text-center btn-block" role="alert">
      ¡No hay información en la Aplicación!
    </div>
  </ng-template>
</div>

<!-- Modal From Employee -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="InsertModalTitle">Formulario</h5>
        <button (click)="initializer()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form -->
        <app-employee-form [status]="getStatus()" [employee]="getModel()">
        </app-employee-form>
      </div>
    </div>
  </div>
</div>