<!-- Main div Container -->
<br>
<div class="container mt-5 shadow-lg p-3 mb-5 bg-white rounded">
  <!-- -->
  <div class="row">
    <div class="col-2">
      <!-- Botton to register new Service -->
      <!-- <button (click)="initializer(); setStatus(true)" class="btn btn-lg btn-primary" data-toggle="modal"
        data-target="#modal"><i class="fas fa-plus"></i></button> -->
    </div>
    <div class="col-10">
      <h1 class="display-4">Terminados</h1>
    </div>
  </div>
  <ng-template [ngIf]="!isEmptyListDelivered()" [ngIfElse]="exception">
    <!-- Table of Services -->
    <table datatable [dtOptions]="dtOptions" 
      class="table table-hover table-striped table-borderless table-sm">
      <thead class="thead-dark text-center">
        <tr class="text-center">
          <th scope="col">Automovil</th>
          <th scope="col">Descripción</th>
          <th scope="col">Ingreso</th>
          <th scope="col">Salida</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <!-- List of Services -->
        <tr *ngFor="let item of getList(); let i = index;">
          <td class="text-center text-uppercase">{{ getAuto(item.auto) }}</td>
          <td class="text-uppercase">{{ item.description }}</td>
          <td class="text-center">{{ item.entreDate | date }}</td>
          <td class="text-center">{{ item.endedDate | date }}</td>
          <td class="d-flex justify-content-center">
            <!-- Botton to delete a Service -->
            <button (click)="delete(item.id, i)" class="ml-1 btn-sm btn btn-danger" data-toggle="modal"
              data-target="#modal"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  <ng-template #exception>
    <div class="alert alert-info text-center btn-block" role="alert">
      ¡No hay información en la Aplicación!
    </div>
  </ng-template>
</div>

<!-- Modal From Service -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="modalTitle">Formulario</h5>
        <button (click)="initializer()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form to Register -->
        <app-service-form></app-service-form>
      </div>
    </div>
  </div>
</div>