<form #form="ngForm">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputtransmision">Client</label>
      <select [(ngModel)]="servic.client" name="client" id="inputtransmision" class="form-control text-uppercase" required>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputtransmision">Vehiculo</label>
      <select [(ngModel)]="servic.auto" name="auto" id="inputtransmision" class="form-control text-uppercase" required>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputtransmision">Empleado</label>
      <select [(ngModel)]="servic.employee" name="employee" id="inputtransmision" class="form-control text-uppercase" required>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputcolour">Descripción</label>
        <input [(ngModel)]="servic.description" name="description" type="text" class="form-control text-uppercase" id="inputcolour" required>
      </div>
  </div>
</form>
<div class="modal-footer">
  <!-- Botton to Cancel -->
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
  <!-- Botton to Register -->
  <button [disabled]="!form.form.valid" (click)="newService()" type="button" class="btn btn-success">Guardar</button>
</div>